.App .page-title {
    font-family: "Coventry Garden";
    color: #D9CDA0;
    text-align: center;
    margin: 0.5% auto;
    font-size: 2.5em;
    text-shadow: 3px 9px 10px #A8A68D;
    letter-spacing: 3.5px;
    word-spacing: 7px;
    border-bottom: 0.5px solid;
    border-top: 0.5px solid;
}

.App .game-container {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 812px) and (orientation: landscape) {
    .App .game-container {
        flex-direction: row;
    }
}

@media only screen and (min-device-width: 768px) {
    .App .game-container {
        min-width: 1000px;
        width: 90vw;
        height: 85vh;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
}