.ChoiceBoard {
    width: 100%;
    /* height: 52vh; */
    margin: 1% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.ChoiceBoard .choice-container {
    width: 100%;
    height: 100%;
    margin: 1% 0;
    display: flex;
    flex-direction: column;
}

.ChoiceBoard .choice-box {
    display: flex;
    /* align-items: center; */
    height: 100%;
    margin: 0.5%;
    padding: 2.2%;
    color: #fff;
    letter-spacing: 0.5px;
    font-size: 1em;
    border-radius: 3px;
    background-color: rgba(138, 109, 88, 0.8);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.39), 0 7px 10px 0 rgba(0, 0, 0, 0.31);
    text-align: justify;
    word-wrap: break-word;
    text-shadow: 1px 2px 1px #000;
    overflow: auto;
    cursor: pointer;
    transition: all 0.2s ease;
}

.ChoiceBoard .choice-box:hover {
    outline-style: inset;
    outline-width: thin;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 1), 0 7px 16px 0 rgba(0, 0, 0, 1);
}

.ChoiceBoard .choice-box img {
    display: none;
    width: 2.2em;
    float: left;
    padding: 0 1% 1% 0;
}

.ChoiceBoard .submit-button,
.next-button,
.play-button {
    font-family: "Berylium", Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
    border-radius: 28px;
    text-shadow: 2px 1px 2px #666666;
    color: #fff;
    padding: 0.5% 3% 0.8%;
    margin-top: 1%;
    width: 200px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.ChoiceBoard .submit-button {
    background: #34d97b;
    background-image: linear-gradient(to bottom, #34d97b, #148c60);
}

.ChoiceBoard .submit-button:hover {
    background: #32b384;
    background-image: linear-gradient(to bottom, #32b384, #0c7a50);
}

.ChoiceBoard .next-button {
    background: #FF7926;
    background-image: linear-gradient(to bottom, #FF7926, #AB5800);
}

.ChoiceBoard .next-button:hover {
    background: #e96e22;
    background-image: linear-gradient(to bottom, #e96e22, #8a4701);
}

.ChoiceBoard .disabled-button {
    background: #4a5c55;
    color: rgb(148, 147, 147);
    cursor: not-allowed;
}

.ChoiceBoard .disabled-button:hover {
    background: #4a5c55;
}

.play-button {
    background: #1d9ebe;
    background-image: linear-gradient(to bottom, #1d9ebe, #136479);
    animation: colorchange 2s;
    animation-iteration-count: infinite;
    box-shadow: 0px -5px 30px 2px #0f4f5f inset;
}

@keyframes colorchange {
    0% {
        background: #1d9ebe;
    }
    50% {
        background: #136479;
    }
    100% {
        background: #1d9ebe;
    }
}

.ChoiceBoard .choice-clicked {
    outline-style: inset;
    outline-width: thin;
    background-color: rgba(42, 162, 245, 0.7);
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 1), 0 7px 16px 0 rgba(0, 0, 0, 1);
    transition: all 0.2s ease-in-out;
}

.is-hidden {
    display: none;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 812px) and (orientation: landscape) {
    .ChoiceBoard {
        height: 80vh;
        margin: 0 1%;
    }
}

@media only screen and (min-device-width: 768px) {
    .ChoiceBoard {
        /* height: 35vh; */
        width: 90%;
    }
    .ChoiceBoard .choice-box img {
        display: initial;
    }
    .ChoiceBoard .choice-container {
        height: auto;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        min-height: 250px;
    }
    .ChoiceBoard .choice-box {
        align-items: center;
        font-size: 1.1em;
    }
    .ChoiceBoard .submit-button,
    .next-button,
    .play-button {
        width: 15%;
        min-width: 200px;
        margin: 8% auto;
    }
}

@media only screen and (min-device-width: 1150px) {
    .ChoiceBoard .choice-box {
        font-size: 1.35em;
    }
}