.country-section {
    display: flex;
    flex: 2;
    flex-direction: column;
    align-items: center;
}

.country-section .country-title {
    color: #7C8540;
    font-family: "Splandor";
    font-size: 2.2em;
    letter-spacing: 3px;
    text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.829);
    margin-bottom: 3%;
}

.country-section .country-flag {
    width: 13%;
    height: 12%;
    background-repeat: no-repeat;
    background-size: contain;
}

.country-section .country-image {
    min-width: 100%;
    height: 70%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}