.country-section {
    display: flex;
    flex: 2;
    align-items: center;
}

.country-section .legend {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0 2%;
    display: flex;
    align-items: flex-end;
}

.country-section .legend-icon {
    cursor: pointer;
    width: 35px;
    transition: all 0.3s ease-in-out;
}

.country-section .legend-icon:hover {
    transform: scale(1.1);
}

.country-section .legend-text {
    width: 75vw;
    position: absolute;
    z-index: 99;
    margin-left: 3em;
    padding: 1% 2%;
    border-radius: 7px;
    text-align: center;
    font-weight: 600;
    border: 3px #5C3221 groove;
    color: #5C3221;
    text-shadow: 0px 1px 7px #fff;
    background-color: rgba(179, 167, 129, 0.95);
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.39), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 1s ease;
}

.country-section .legend-text h1 {
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.39);
    color: #fff;
    background-color: #5C3221;
    text-shadow: 0px 0px 0px #000000;
    font-weight: 100;
}

.country-section .country-container {
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.country-section .country-container .titleAndFlag {
    display: flex;
    flex-direction: column;
    height: 6em;
    margin-right: 10%;
    justify-content: space-evenly;
}

.country-section .country-container .country-title {
    color: #7C8540;
    font-family: "Splandor";
    font-size: 1.2em;
    letter-spacing: 3px;
    text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.829);
    margin-bottom: 3%;
}

.country-section .country-container .country-flag {
    height: 25px;
    background-repeat: no-repeat;
    background-size: contain;
}

.country-section .country-container .country-image {
    min-width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 812px) and (orientation: landscape) {
    .country-section .country-container {
        width: 100%;
        flex-direction: column;
    }
    .country-section .legend {
        width: 100%;
        height: 50vh;
    }
    .country-section .legend-text {
        height: 15em;
        width: 100%;
        padding: 1% 2%;
        border-radius: 7px;
        text-align: center;
        font-weight: 600;
        border: 3px #5C3221 groove;
        color: #5C3221;
        text-shadow: 0px 1px 12px #fff;
        background-color: rgba(179, 167, 129, 0.95);
        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.39), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
        overflow: auto;
    }
    .country-section .legend-text h1 {
        margin: 1% 0;
    }
    .country-section .country-container .titleAndFlag {
        margin: auto;
        align-items: center;
    }
    .country-section .country-container .country-flag {
        width: 40px;
    }
}

@media only screen and (min-device-width: 768px) {
    .country-section {
        flex-direction: column;
    }
    .country-section .country-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        padding: 2% 0;
    }
    .country-section .legend-icon {
        width: 70px;
    }
        .country-section .legend-text {
            height: 100%;
            width: 50%;
            position: relative;
            padding: 14% 2%;
            margin: 0 auto;
        }
        .country-section .country-container .titleAndFlag {
            margin: auto;
            align-items: center;
        }
    .country-section .country-container .country-title {
        font-size: 2.2em;
    }
        .country-section .country-container .country-flag {
 width: 3em;
 height: 4em;
        }
}

@media only screen and (min-device-width: 1150px) {
        .country-section .country-container .country-flag {
            width: 4.25em;
        }
}