.country-section {
    display: flex;
    flex: 2;
    flex-direction: column;
    align-items: center;
}

.country-section .legend {
    position: absolute;
    left: 0;
    margin: 0 3%;
}

.country-section .legend-icon {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.country-section .legend-icon:hover {
    transform: scale(1.1);
}

.country-section .legend-text {
    height: 100%;
    width: 70%;
    padding: 1% 2%;
    border-radius: 7px;
    text-align: center;
    font-weight: 600;
    border: 3px #5C3221 groove;
    color: #5C3221;
    text-shadow: 0px 1px 12px #fff;
    background-color: rgba(179, 167, 129, 0.95);
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.39), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
}

.country-section .legend-text h1 {
    text-decoration: underline;
}
.country-section .country-title {
    color: #7C8540;
    font-family: "Splandor";
    font-size: 2.2em;
    letter-spacing: 3px;
    text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.829);
    margin-bottom: 3%;
}

.country-section .country-flag {
    width: 13%;
    height: 12%;
    background-repeat: no-repeat;
    background-size: contain;
}

.country-section .country-image {
    min-width: 100%;
    height: 70%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}