.GameBoard {
    background-image: url('https://res.cloudinary.com/andrerichards/image/upload/v1514879586/quiz/map.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 55vh;
    display: flex;
    flex-direction: row;
    padding: 1% 15%;
}

.GameBoard .board {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-color: rgba(252, 246, 220, 0.8);
    box-shadow: 0 8px 6px 0 rgba(0, 0, 0, 0.39), 0 7px 10px 0 rgba(0, 0, 0, 0.21);
    padding: 1%;
}

.GameBoard .legend-section,
.score-section {
    flex: 1;
}