.GameBoard {
    background-image: url('https://res.cloudinary.com/andrerichards/image/upload/c_scale,w_600/v1514879586/quiz/map.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column-reverse;
    padding: 1% 5%;
}

.GameBoard .board {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-color: rgba(252, 246, 220, 0.8);
    box-shadow: 0 1px 16px rgba(0, 0, 0, 0.39);
    padding: 1%;
}

.GameBoard .legend-section,
.score-section {
    flex: 1;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 812px) and (orientation: landscape) {
    .GameBoard {
        height: 85vh;
    }
}

@media only screen and (min-device-width: 768px) {
    .GameBoard {
        background-image: url('https://res.cloudinary.com/andrerichards/image/upload/v1514879586/quiz/map.jpg');
        flex-direction: row;
        height: 55vh;
        padding: 1% 15%;
        min-height: 400px;
    }
    .GameBoard .board {
        box-shadow: 0 8px 6px 0 rgba(0, 0, 0, 0.39), 0 7px 10px 0 rgba(0, 0, 0, 0.21);
    }
}