@font-face {
    font-family: Coventry Garden;
    src: url("../fonts/CoventryGarden.ttf");
}

@font-face {
    font-family: Splandor;
    src: url("../fonts/Splandor.otf");
}

@font-face {
    font-family: Berylium;
    src: url("../fonts/Berylium.ttf");
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: 20px;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow-x: hidden;
    position: relative;
    background-image: url("https://res.cloudinary.com/andrerichards/image/upload/v1514879589/quiz/wood.jpg");
    font-family: "Berylium", Calibri, 'Trebuchet MS', sans-serif;
    overflow: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

html {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    transition: all .2s ease-in;
}

a:link {
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

a:visited {
    color: #fff;
}

a:hover {
    color: #fff;
    transition: all .1s ease-in-out;
}

a:active {
    color: #fff;
}

h6 {
    font-weight: 200;
}

ul {
    padding: 0;
}

ul li {
    list-style: none;
}