.Results {
    height: 95%;
    width: 70%;
    padding: 3% 10%;
    text-align: center;
    background: rgba(50, 71, 26, 0.568);
    border-radius: 8px;
    color: #faecd3;
    overflow: auto;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.39), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
    text-shadow: 0px 2px 12px rgb(37, 19, 3);
}

.Results h1,
.Results footer {
    background-color: #5C3221;
    color: #fff;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.39);
    font-weight: 100;
    width: 100%;
    height: 100%;
    padding: 1%;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 812px) and (orientation: landscape) {
    .Results {
        height: 80%;
        padding: 3% 5%;
    }
    .Results img {
        display: none;
    }
}

@media only screen and (min-device-width: 768px) {
    .Results {
        height: 50%;
        padding: 7% 5%;
    }
}