.score-section .progress-counter {
    margin: 0.2% 0;
    font-family: "Splandor";
    font-size: 1.4em;
    letter-spacing: 1px;
    text-shadow: 0px 1px 0px #000;
}

.score-section .score-banner {
    padding: 1% 0 4%;
    text-align: center;
    background-color: rgba(212, 99, 99, 0.85);
    color: #ffffff;
    font-family: "Splandor";
    font-size: 1.8em;
    text-shadow: 0px 2px 2px #000;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.39), 0 10px 10px 0 rgba(0, 0, 0, 0.19);
}

.score-section .score-counter {
    display: flex;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    font-weight: 600;
    margin: 4% 0;
}

.score-section .addl-info {
    margin-top: 30%;
    text-align: justify;
    border-radius: 7px;
    font-size: 0.9em;
    list-style: none;
    color: #000;
    text-shadow: 1px 0.5px 1px #666;
    padding: 0 3%;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.19), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
}

.score-section .addl-info ul li {
    margin: 7% 0;
}

.fa {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.493);
    margin-left: -1%;
}

#root>div>section>div>div.board.score-section>div>.white {
    color: #ffffff;
    text-shadow: 0px 1px 2px #333;
}

.green,
.fa-check {
    color: rgb(0, 187, 31);
}

.red,
.fa-times {
    color: rgb(255, 2, 2);
}

.fa-minus {
    color: rgb(255, 123, 0)
}

.blue {
    color: rgb(0, 255, 242);
}

#root>div>section>div>div.board.score-section>div>aside>div {
    text-align: center;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 812px) and (orientation: landscape) {
    .score-section .addl-info {
        margin-top: 15%;
    }
}

@media only screen and (min-device-width: 768px) {
    .score-section .score-banner {
        padding: 4% 0 8%;
    }
    .score-section .addl-info {
        margin-top: 0;
        background-color: rgba(255, 255, 255, 0.8);
    }
}